.color{
    color: white;
}



  footer{
    padding: 1px;
    color: #c5c5c5;
    background-color: #3b5742;
    height: 170px;
    margin-top: 10px;
    text-align: center;
    

  }

 .centro{

     font-size: 30px;
     text-align: center;
 }

 .colorFQ {
     background-color: #4c9153;
     color: rgb(255, 255, 255);

 }

 .centroyt {
    text-align: center;
    background-color: #4c9153;
     color: rgb(255, 255, 255);
 }

 .div-vid{
     display:flex;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #4c9153;
    color: rgb(255, 255, 255);
 }

 .colorbtn {
    color: rgb(255, 255, 255);
 }

 .colorFQ1 {
    background-color: #4c9153;
    color: rgb(255, 255, 255);
 }

 .centroimg{

    align-items: center;
    text-align: center;
}

.colorFQ1 {
    background-color: #4c9153;
    color: rgb(255, 255, 255);
    text-align: center;

}

.reloj { width: 150px; height: 30px; padding: 5px 10px; border: 1px solid black; 
    font: bold 1.3em dotum, "lucida sans", arial; 
    text-align: center;
    float: right; margin: 1em 3em 1em 1em; }

    .colorRG{
        color: white;
        text-align: center;
    }
    .error-control {
        border: 1px solid rgba(255, 0, 0, 0.462);
    }

    label.error {
        color: rgba(255, 0, 0, 0.462);
        width: 300px;
        font-size: 0.8em;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .colorAPI{
        color: black;
        text-align: center;
    }

    #cajacontacto{
        align-items: center;
        text-align: center;
    
    
    }
    
    
    
    input {
    
        width: 180px;
        margin-bottom: 5px;
    }
    
    label {
        clear: both;
        float: center;
        width: 150px;
    }
    
    button {
        clear: both;
        float: center;
        width: 80px;
    }
    
    .bg-image-vertical {
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;
        }
    
        @media (min-width: 1025px) {
        .h-custom-2 {
        height: 100%;
        }
        }

        